{% extends "WypozyczalniaBundle:Layout:layout.html.twig" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
        {% if app.session.flashBag.has('reg') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('reg') %}
                    {{msg}}
                {% endfor %}
            </div>
        {% endif %}
<table id="table-style" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th data-field="id" class="col-md-1">ID</th>
        <th data-field="name" class="col-md-2">
          
            Data zamówienia
        </th>
        <th data-field="price" class="col-md-2">
          
            Cena
        </th>
         <th data-field="" class="col-md-2">
           
            Status zamówienia
        </th>
        <th data-field="price" class="col-md-4">
           
            Samochody
        </th>
        <th data-field="price" class="col-md-4">
            <i class="glyphicon glyphicon-heart"></i>
             <i class="glyphicon glyphicon-heart"></i>
              <i class="glyphicon glyphicon-heart"></i>
        </th>
    </tr>   
    </thead>           
    {% for ord in orders %} 
     <tr>
                        <td>{{loop.index}}</td>
                        <td>{{ord.order_data}}</td>
                        <td>{{ord.price}}</td>
                        {% if ord.order_status == 1 %}
                        <td>Jeszcze nie zapłacone</td>
                        {% else %}
                        <td>Zapłacono</td>
                        {% endif %}
                        <td>{{ord.title}}</td>
                        <td><center><i class="glyphicon glyphicon-euro"></center></i></td>
                    </tr>
                    {% endfor %}
    
</table>
{%endblock %}